*{
	font-family: 'Germania One', cursive;
}

h1{
	color: pink;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 50px;
}

img{
	height: 193px;
	width: 257px;
<<<<<<< HEAD
	margin-left:100px;
	margin-right:100px;
=======
	transform: rotate(180deg);
>>>>>>> f7d499de5406099b43d4dd1b5893e16e9fb6b8b9
}

.about, .tech, .contact {
	margin-right: 100px;
	margin-left: 100px;
}